.top {
  background-color: #E4F9F5;
  padding-top: 50px;
  padding-bottom: 100px;
}

h1 {
  font-size: 60px;
  margin: 0;
  position: relative;
  bottom: 20px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

.a {
  height: auto;
max-width: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.c {
  width: 50%;
  height: auto;
  margin-top: 80px;
}

.b {
  position: absolute;
  left: 140px;
  top: 250px;
  height: auto;
max-width: 10%;
}

.no {
  width: 25%;
  margin-right: 30px;
}

.not {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ss {
  height: auto;
max-width: 20%;
}

.ss2 {
  height: auto;
max-width: 20%;
  position: relative;
  left: 10px;
}

.qq {
  height: auto;
max-width: 30%;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 50px auto 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.rr {
  color: #EAF6F6;
  padding: 20px 0;
}

.skills {
  padding-top: 20px;
}

hr {
  width: 10%;
  color: #808080;
  border-style: none;
  border-top-style: dotted;
  border-width: thick;
}

.middle-container {
  padding-top: 20px;
}

.profile {
  padding-top: 20px;
  line-height: 2;
}

.Contacting {
  padding-top: 20px;
}

.df {
  line-height: 2;
  padding-bottom: 30px;
}

.t {
  width: 40%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.btn {
  box-shadow: inset -16px -50px 21px -2px #11999E;
  background-color: #11999E;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 10px 22px;
  text-decoration: none;
  text-shadow: 0px 5px 3px #11999E2;
}
.btn:hover {
  color: #000000;
}

.btn:active {
  position: relative;
  top: 1px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
/* Media Queries: Tablet Landscape */
